.l-sponsors
  +l-block
  text-align: center

  &__title
    +h3
    text-align: center

  &__section
    +l-block--container
    padding-top: $section-padding * 2
    &:empty
      display: none !important
    &--medium
      padding-top: $section-padding

  &__slot
    display: inline-block
    vertical-align: top
    padding: 0.5rem 1rem

  &__slot--large
    width: 100%
    max-width: 24rem

  &__slot--medium
    width: 85%
    max-width: 18rem

  &__slot--small
    width: 65%
    max-width: 15rem

  &__slot--xsmall
    width: 50%
    max-width: 10rem
