.m-footer
  position: relative
  z-index: z-index(under-text)
  margin-top: -3rem
  +media(">=tablet-portrait")
    margin-top: -7rem
  +media(">=tablet-landscape")
    margin-top: -20rem

  &__contentinfo
    @extend .l-block
    +clearfix
    overflow: hidden
    background: color(ink)
    color: color(white)
    margin-top: -1rem

  &__inner
    @extend .l-block--container
    padding: $rithm 0 0

  &__section
    text-align: center

    &--meta
      p
        margin-bottom: 0
        font-size: em($ratio__tiny)

  +media(">=tablet-portrait")

    &__inner
      display: flex

    &__section
      text-align: left
      float: left
      width: 50%

      &--meta
        text-align: right
        display: flex
        flex-direction: column
        justify-content: flex-end
        p:last-child
          margin-bottom: 1.25rem

