.m-speaker
  $radius: 50%

  margin: 1rem auto
  width: 100%
  max-width: 16rem
  text-align: center

  &__img
    margin: 0 auto
    border-radius: $radius
    background-color: color(red)
    background-blend-mode: multiply
    .l-speaker-teaser__item:nth-of-type(2n+1) &,
    .l-speakers__slot:nth-of-type(2n+1) &
      background-color: lighten(color(purple), 35%)
    .l-speaker-teaser__item:nth-of-type(3n+1) &,
    .l-speakers__slot:nth-of-type(3n+1) &
      background-color: color(yellow)

  &__name
    +h4
    margin-bottom: 0
    line-height: 1.2

  &__twitter
    background-image: none

  &__shortinfo
    margin-bottom: ($rithm / 4)

  // extended style
  &.m-speaker--extended
    max-width: $narrow-col
    padding: 1rem 0
    text-align: left
    +media(">=tablet-portrait")
      max-width: $medium-col + 2rem

  &__card
    +media(">=tablet-portrait")
      display: flex
      align-items: top
      .l-speakers__slot:nth-child(odd) &
        flex-direction: row-reverse

  &__header
    +clearfix
    margin-bottom: $rithm

  &__strip
    text-align: center

  &__content
    font-size: em($ratio__small)
    +media(">=tablet-portrait")
      margin: 0 $rithm

  &__bio
    overflow: hidden
