.m-tickets
  &.is-ending-module
    +media(">tablet-landscape","<desktop")
      position: relative
      top: -7rem

  &__inner
    max-width: $regular-col
    margin: 0 auto
    color: $color__text

  &__header
    @extend .l-block

  &__title
    @extend .as-h3
    font-style: italic
    line-height: 1.2

  &__notes
    @extend .l-block
    width: 100%
    max-width: $regular-col
    margin-bottom: 0.5rem
    p
      margin-bottom: 0.5rem

    span
      color: $color__text
      font-size: em($ratio__small)


  &__form
    @extend .l-block--container
    +media(">=tablet-portrait")
      min-height: 32rem

  &__table
    max-width: $regular-col !important
    padding: 0 ($section-padding / 2)
    +media(">=tablet-portrait")
      padding: 0 $section-padding

