---
title: Frontend in Wonderland
---

<div class="l-main__opening">
  <header class="l-main__header">
    {{> _teaser }}
  </header>
  <div class="l-main__illustration">
    {{> _main-illustration }}
  </div>
</div>

<div class="l-main__panel l-main__panel--speakers">
  {{> _speakers-teaser}}
  {{> _newsletterlink}}
</div>

<div class="l-main__panel l-main__panel--tickets">
  {{> _castle-illustration}}
  {{> _tickets}}
</div>

<div class="l-main__panel l-main__panel--sponsors">
  {{> _separator}}
  {{> _sponsors-block}}
</div>
