---
title: Schedule
theme: t-top-illustration
---
{{> _lower-main-illustration}}
<article class="l-page">
  <header class="l-page__header l-page__header--with-top-illustration">
    <h1 class="l-page__title">
      Schedule
    </h1>
  </header>
  <div class="l-page__main l-page__main--large l-page__main--with-top-illustration">
   <div class="l-columns">
      <div class="l-columns__column">
        {{> _schedule-first-day}}
      </div>

      <div class="l-columns__column">
        {{> _schedule-second-day}}
      </div>
   </div>
  </div>
</article>
{{> _tickets modifier="is-ending-module"}}
