---
title: Speakers
---
<a href="./" class="o-topbar">
  {{site.topbar}}
</a>

<article class="l-page">
  <div class="l-page__main l-page__main--large">
    <header class="l-page__header">
      <h1 class="l-page__title">
        {{title}}
      </h1>
      <a href="#tickets" class="l-page__subtitle">
        {{site.call_to_action}}!
      </a>
    </header>

    <section class="l-speakers">
      {{#withSort speakers.list "order"}}
        <div class="l-speakers__slot">
          {{> _speaker-extended}}
        </div>
      {{/withSort}}
    </section>
    </div>
  </div>
</article>
{{> _tickets}}
