<div class="o-image-mask">
  <img src="{{assets}}/images/svg/divider-pot.svg" alt="" class="o-image-mask__left">
  <img src="{{assets}}/images/svg/divider-cup.svg" alt="" class="o-image-mask__right">
</div>
