<nav class="m-nav">
  <ul class="m-nav__list">
    <li class="m-nav__item">
      <a href="{{relative page.dest "./"}}" class="m-nav__link">
        Home
      </a>
    </li>
    <li class="m-nav__item">
      <a href="{{relative page.dest "./"}}/speakers.html" class="m-nav__link">
        Speakers
      </a>
    </li>
    <li class="m-nav__item">
      <a href="{{relative page.dest "./"}}/index.html#sponsors" class="m-nav__link">
        Sponsors
      </a>
    </li>
    <li class="m-nav__item">
      <a href="{{relative page.dest "./"}}/index.html#tickets" class="m-nav__link">
        Tickets
      </a>
    </li>
  </ul>
</nav>
