<div class="m-newsletterlink">
  <p class="m-newsletterlink__copy">
    {{site.newsletter_copy}} <a class="m-newsletterlink__action" href="http://eepurl.com/inAxQ" onclick="winOpen(this, 680, 700); return false">{{site.newsletter_action}}</a>
  </p>
</div>