<div class="m-belt">
  <p class="m-belt__inner">
    {{site.newsletter_copy}} <a class="m-belt__action" href="http://eepurl.com/inAxQ" onclick="winOpen(this, 680, 700); return false">{{site.newsletter_action}}</a>
  </p>
</div>
