<div class="l-schedule l-schedule--second-day">
  {{> _small-separator style="blue-leaf"}}
  <h2 class="l-schedule__title">
    18th September
  </h2>
  <ul class="l-schedule__list">
    {{> _schedule-event time="09:00" event="Registration" }}
    {{> _schedule-event time="09:30" event="Welcome" }}

    {{#schedule speakers.list day="second"}}
      {{> _schedule-speaker}}
      {{#is place 2}}
        {{> _schedule-event time="11:15" event="Break" }}
      {{/is}}
      {{#is place 4}}
        {{> _schedule-event time="13:15" event="Lunch" }}
      {{/is}}
      {{#is place 6}}
        {{> _schedule-event time="16:15" event="Break" }}
      {{/is}}
    {{/schedule}}

    {{> _schedule-event time="18:00" event="Closing remarks" }}
  </ul>
</div>
