<section id="speakers" class="l-speaker-teaser">
  <h2 class="l-speaker-teaser__title">
    <span>A</span> <span>fantastic</span> <span>adventure</span> <span> featuring...</span>
  </h2>
  <ul class="l-speaker-teaser__list">
    {{#withSort speakers.list "order"}}
      <li class="l-speaker-teaser__item">
        {{> _speaker}}
      </li>
    {{/withSort}}
  </ul>
</section>
