<div class="m-teaser">
  <p class="m-teaser__intro">
   From the Front presents
  </p>
  <h1 class="m-teaser__title">
    Frontend in<br>Wonderland
  </h1>
  <p class="m-teaser__when">
    17<sup>th</sup> and 18<sup>th</sup> September
  </p>
  <p class="m-teaser__where">
    Bologna,&nbsp;Italy
  </p>

  <a href="#tickets" class="m-teaser__button">
    {{site.call_to_action}}
  </a>
</div>
