// transition
$transition__duration: .125s
$transition__duration--long: .5s



// spaces
$section-padding: $rithm

$narrow-col: 25rem
$medium-col: $fonts__max-line-length
$regular-col: 44rem
$row-width: $medium-col * 2
$large-col: ($medium-col * 2) + 8

// heights
$object-height: $h4-line-height // height of .o-button
$object-height__small: 40
$object-height__large: $h3-line-height
