@keyframes rotate
  from
    transform: rotate(0deg)
  to
    transform: rotate(360deg)

@keyframes controRotate
  from
    transform: rotate(0deg)
  to
    transform: rotate(-360deg)

=rotate
  animation-name: rotate
  animation-duration: 15s
  animation-iteration-count: infinite
  animation-fill-mode: forwards
  transform-origin: 50% 50%

=contro-rotate
  animation-name: controRotate
  animation-duration: 15s
  animation-iteration-count: infinite
  animation-fill-mode: forwards
  transform-origin: 50% 50%

// #red-flowers,
// #red-flowers_1_
//   g
//     +rotate

// #purple-flowers,
// #purple_flowers
//   path
//     +contro-rotate
